.message {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  padding-right: 40px;
}

.imageAndText {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.imageAndText img {
  margin-left: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.text {
  max-width: 60%;
  padding: 10px;
  border-radius: 20px;
  background-color: #1b6bd3;
}

.text:after {
  position: absolute;
  bottom: 0;
  left: 100%;
  border-width: 18px;
  border-style: solid;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f8fbfc;
  margin-left: 400px;
}

.messageText {
  color: #f8fbfc;
}

.time {
  font-size: 0.6em;
  color: #0b0b0b;
  text-align: right;
  font-weight: bold;
  margin-right: 14px;
}
