.friendMessage {
  flex: 1;

  overflow-y: auto;
  padding-left: 40px;
}

.friendImageAndText {
  display: flex;
  align-items: center;
}

.friendImageAndText img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.friendText {
  max-width: 60%;
  padding: 10px;
  border-radius: 20px;
  background-color: #e2e4e7;
}

.friendText:after {
}

.friendName {
  font-weight: bold;
  margin-bottom: 5px;
  color: #0e0f0f;
}

.friendMessageText {
}

.friendTime {
  font-size: 0.6em;
  font-weight: bold;
  color: #0e0f0f;
  margin-left: 4px;
}
