.container {
}

.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.number {
  /* font-size: 14px;
  font-weight: bold;
  color: #333;
  text-align: center; */
  padding: 14px;
}
